In [1]:
!pip install numpy

Collecting numpy
  Downloading numpy-2.4.2-cp313-cp313-win_amd64.whl.metadata (6.6 kB)
Downloading numpy-2.4.2-cp313-cp313-win_amd64.whl (12.3 MB)
   ---------------------------------------- 0.0/12.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.3 MB ? eta -:--:--
    --------------------------------------- 0.3/12.3 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.3 MB 1.4 MB/s eta 0:00:09
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/12.3 MB 2.1 MB/s eta 0:00:06
   ---- ----------------------------------- 1.3/12.3 MB 387.5 kB/s eta 0:00:29
   ---- ----------------------------------- 1.3/12.3 MB 387.5 kB/s eta 0:00:29
   ---- ----------------------------------- 1.3/12.3 MB 387.5 kB/s eta 0:00:29
   ---- ----------------------------------- 1.3/12.3 MB 387.5 kB/s eta 0:00:29
   ---- ----------------------------------- 1.3/12.3 MB 387.5 kB/s eta 0:00:29
   ----- ---------------------------------- 1.6/12.3 MB 351.6 kB/s eta 0:00:31
   ----- ---------------------------------- 1.6/12.3 MB 351.6 kB/s eta 0:00:31
   ----- ---------------------------------- 1.6/12.3 MB 351.6 kB/s eta 0:00:31
   ----- ---------------------------------- 1.6/12.3 MB 351.6 kB/s eta 0:00:31
   ----- ---------------------------------- 1.6/12.3 MB 351.6 kB/s eta 0:00:31
   ----- ---------------------------------- 1.8/12.3 MB 321.5 kB/s eta 0:00:33
   ----- ---------------------------------- 1.8/12.3 MB 321.5 kB/s eta 0:00:33
   ----- ---------------------------------- 1.8/12.3 MB 321.5 kB/s eta 0:00:33
   ------ --------------------------------- 2.1/12.3 MB 334.4 kB/s eta 0:00:31
   ------ --------------------------------- 2.1/12.3 MB 334.4 kB/s eta 0:00:31
   ------ --------------------------------- 2.1/12.3 MB 334.4 kB/s eta 0:00:31
   ------ --------------------------------- 2.1/12.3 MB 334.4 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   ------- -------------------------------- 2.4/12.3 MB 322.0 kB/s eta 0:00:31
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   -------- ------------------------------- 2.6/12.3 MB 104.2 kB/s eta 0:01:33
   --------- ------------------------------ 2.9/12.3 MB 56.6 kB/s eta 0:02:47
   --------- ------------------------------ 2.9/12.3 MB 56.6 kB/s eta 0:02:47
   --------- ------------------------------ 2.9/12.3 MB 56.6 kB/s eta 0:02:47
   --------- ------------------------------ 2.9/12.3 MB 56.6 kB/s eta 0:02:47
   --------- ------------------------------ 2.9/12.3 MB 56.6 kB/s eta 0:02:47
   --------- ------------------------------ 2.9/12.3 MB 56.6 kB/s eta 0:02:47
   --------- ------------------------------ 2.9/12.3 MB 56.6 kB/s eta 0:02:47
   ---------- ----------------------------- 3.1/12.3 MB 62.8 kB/s eta 0:02:26
   ---------- ----------------------------- 3.1/12.3 MB 62.8 kB/s eta 0:02:26
   ---------- ----------------------------- 3.1/12.3 MB 62.8 kB/s eta 0:02:26
   ---------- ----------------------------- 3.1/12.3 MB 62.8 kB/s eta 0:02:26
   ---------- ----------------------------- 3.1/12.3 MB 62.8 kB/s eta 0:02:26
   ----------- ---------------------------- 3.4/12.3 MB 62.6 kB/s eta 0:02:23
   ----------- ---------------------------- 3.4/12.3 MB 62.6 kB/s eta 0:02:23
   ----------- ---------------------------- 3.4/12.3 MB 62.6 kB/s eta 0:02:23
   ----------- ---------------------------- 3.4/12.3 MB 62.6 kB/s eta 0:02:23
   ----------- ---------------------------- 3.7/12.3 MB 63.1 kB/s eta 0:02:17
   ----------- ---------------------------- 3.7/12.3 MB 63.1 kB/s eta 0:02:17
   ----------- ---------------------------- 3.7/12.3 MB 63.1 kB/s eta 0:02:17
   ----------- ---------------------------- 3.7/12.3 MB 63.1 kB/s eta 0:02:17
   ----------- ---------------------------- 3.7/12.3 MB 63.1 kB/s eta 0:02:17
   ------------ --------------------------- 3.9/12.3 MB 62.3 kB/s eta 0:02:15
   ------------ --------------------------- 3.9/12.3 MB 62.3 kB/s eta 0:02:15
   ------------ --------------------------- 3.9/12.3 MB 62.3 kB/s eta 0:02:15
   ------------ --------------------------- 3.9/12.3 MB 62.3 kB/s eta 0:02:15
   ------------- -------------------------- 4.2/12.3 MB 62.5 kB/s eta 0:02:10
   ------------- -------------------------- 4.2/12.3 MB 62.5 kB/s eta 0:02:10
   ------------- -------------------------- 4.2/12.3 MB 62.5 kB/s eta 0:02:10
   ------------- -------------------------- 4.2/12.3 MB 62.5 kB/s eta 0:02:10
   -------------- ------------------------- 4.5/12.3 MB 129.2 kB/s eta 0:01:01
   -------------- ------------------------- 4.5/12.3 MB 129.2 kB/s eta 0:01:01
   -------------- ------------------------- 4.5/12.3 MB 129.2 kB/s eta 0:01:01
   -------------- ------------------------- 4.5/12.3 MB 129.2 kB/s eta 0:01:01
   -------------- ------------------------- 4.5/12.3 MB 129.2 kB/s eta 0:01:01
   -------------- ------------------------- 4.5/12.3 MB 129.2 kB/s eta 0:01:01
   -------------- ------------------------- 4.5/12.3 MB 129.2 kB/s eta 0:01:01
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   --------------- ------------------------ 4.7/12.3 MB 134.3 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ---------------- ----------------------- 5.0/12.3 MB 130.1 kB/s eta 0:00:57
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.2/12.3 MB 127.0 kB/s eta 0:00:56
   ----------------- ---------------------- 5.5/12.3 MB 124.2 kB/s eta 0:00:55
   ----------------- ---------------------- 5.5/12.3 MB 124.2 kB/s eta 0:00:55
   ----------------- ---------------------- 5.5/12.3 MB 124.2 kB/s eta 0:00:55
   ----------------- ---------------------- 5.5/12.3 MB 124.2 kB/s eta 0:00:55
   ----------------- ---------------------- 5.5/12.3 MB 124.2 kB/s eta 0:00:55
   ----------------- ---------------------- 5.5/12.3 MB 124.2 kB/s eta 0:00:55
   ----------------- ---------------------- 5.5/12.3 MB 124.2 kB/s eta 0:00:55
   ----------------- ---------------------- 5.5/12.3 MB 124.2 kB/s eta 0:00:55
   ------------------ --------------------- 5.8/12.3 MB 125.3 kB/s eta 0:00:53
   ------------------ --------------------- 5.8/12.3 MB 125.3 kB/s eta 0:00:53
   ------------------ --------------------- 5.8/12.3 MB 125.3 kB/s eta 0:00:53
   ------------------ --------------------- 5.8/12.3 MB 125.3 kB/s eta 0:00:53
   ------------------ --------------------- 5.8/12.3 MB 125.3 kB/s eta 0:00:53
   ------------------ --------------------- 5.8/12.3 MB 125.3 kB/s eta 0:00:53
   ------------------ --------------------- 5.8/12.3 MB 125.3 kB/s eta 0:00:53
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   ------------------- -------------------- 6.0/12.3 MB 128.7 kB/s eta 0:00:49
   -------------------- ------------------- 6.3/12.3 MB 122.6 kB/s eta 0:00:50
   -------------------- ------------------- 6.3/12.3 MB 122.6 kB/s eta 0:00:50
   -------------------- ------------------- 6.3/12.3 MB 122.6 kB/s eta 0:00:50
   -------------------- ------------------- 6.3/12.3 MB 122.6 kB/s eta 0:00:50
   -------------------- ------------------- 6.3/12.3 MB 122.6 kB/s eta 0:00:50
   -------------------- ------------------- 6.3/12.3 MB 122.6 kB/s eta 0:00:50

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-3.0.0-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp313-cp313-win_amd64.whl (9.7 MB)
   ---------------------------------------- 0.0/9.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.7 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.7 MB ? eta -:--:--
   -- ------------------------------------- 0.5/9.7 MB 1.0 MB/s eta 0:00:09
   -- ------------------------------------- 0.5/9.7 MB 1.0 MB/s eta 0:00:09
   --- ------------------------------------ 0.8/9.7 MB 877.7 kB/s eta 0:00:11
   ---- ----------------------------------- 1.0/9.7 MB 899.9 kB/s eta 0:00:10
   ----- ---------------------------------- 1.3/9.7 MB 895.4 kB/s eta 0:00:10
   ------ --------------------------------- 1.6/9.7 MB 925.5 kB/s eta 0:00:09
   ------- -------------------------------- 1.8/9.7 MB 944.7 kB/s eta 0:00:09
   ------- -------------------------------- 1.8/9.7 MB 944.7 kB/s eta 0:00:09
   -------- ------------------------------- 2.1/9.7 MB 948.2 kB/s eta 0:00:09
   --------- ------------------------------ 2.4/9.7 MB 962.5 kB/s eta 0:00:08
   ---------- ----------------------------- 2.6/9.7 MB 973.6 kB/s eta 0:00:08
   ----------- ---------------------------- 2.9/9.7 MB 987.4 kB/s eta 0:00:07
   ------------ --------------------------- 3.1/9.7 MB 991.8 kB/s eta 0:00:07
   -------------- ------------------------- 3.4/9.7 MB 1.0 MB/s eta 0:00:07
   --------------- ------------------------ 3.7/9.7 MB 1.0 MB/s eta 0:00:07
   ---------------- ----------------------- 3.9/9.7 MB 1.0 MB/s eta 0:00:06
   ----------------- ---------------------- 4.2/9.7 MB 1.0 MB/s eta 0:00:06
   ------------------ --------------------- 4.5/9.7 MB 1.0 MB/s eta 0:00:06
   ------------------- -------------------- 4.7/9.7 MB 1.0 MB/s eta 0:00:05
   -------------------- ------------------- 5.0/9.7 MB 1.0 MB/s eta 0:00:05
   --------------------- ------------------ 5.2/9.7 MB 1.0 MB/s eta 0:00:05
   ---------------------- ----------------- 5.5/9.7 MB 1.1 MB/s eta 0:00:05
   ---------------------- ----------------- 5.5/9.7 MB 1.1 MB/s eta 0:00:05
   ----------------------- ---------------- 5.8/9.7 MB 1.1 MB/s eta 0:00:04
   ------------------------ --------------- 6.0/9.7 MB 1.1 MB/s eta 0:00:04
   ------------------------- -------------- 6.3/9.7 MB 1.1 MB/s eta 0:00:04
   -------------------------- ------------- 6.6/9.7 MB 1.1 MB/s eta 0:00:03
   ---------------------------- ----------- 6.8/9.7 MB 1.1 MB/s eta 0:00:03
   ----------------------------- ---------- 7.1/9.7 MB 1.1 MB/s eta 0:00:03
   ------------------------------ --------- 7.3/9.7 MB 1.1 MB/s eta 0:00:03
   ------------------------------- -------- 7.6/9.7 MB 1.1 MB/s eta 0:00:02
   -------------------------------- ------- 7.9/9.7 MB 1.1 MB/s eta 0:00:02
   --------------------------------- ------ 8.1/9.7 MB 1.1 MB/s eta 0:00:02
   ---------------------------------- ----- 8.4/9.7 MB 1.1 MB/s eta 0:00:02
   ----------------------------------- ---- 8.7/9.7 MB 1.1 MB/s eta 0:00:01
   ------------------------------------ --- 8.9/9.7 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 9.2/9.7 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 9.4/9.7 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 9.7/9.7 MB 1.1 MB/s  0:00:09
Installing collected packages: pandas
Successfully installed pandas-3.0.0

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import numpy as np
import pandas as pd
import requests as r

In [22]:
user_url = "https://dummyjson.com/users"
response = r.get(user_url, timeout = 10)
data = response.json()
df_user = pd.DataFrame(data['users'])
df_user.head()

,id,firstName,lastName,maidenName,age,gender,email,phone,username,password,...,address,macAddress,university,bank,company,ein,ssn,userAgent,crypto,role
0,1,Emily,Johnson,Smith,29,female,emily.johnson@x.dummyjson.com,+81 965-431-3024,emilys,emilyspass,...,"{'address': '626 Main Street', 'city': 'Phoeni...",47:fa:41:18:ec:eb,University of Wisconsin--Madison,"{'cardExpire': '05/28', 'cardNumber': '3693233...","{'department': 'Engineering', 'name': 'Dooley,...",977-175,900-590-289,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin
1,2,Michael,Williams,,36,male,michael.williams@x.dummyjson.com,+49 258-627-6644,michaelw,michaelwpass,...,"{'address': '385 Fifth Street', 'city': 'Houst...",79:15:78:99:60:aa,Ohio State University,"{'cardExpire': '01/30', 'cardNumber': '3530633...","{'department': 'Support', 'name': 'Spinka - Di...",912-602,108-953-962,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin
2,3,Sophia,Brown,,43,female,sophia.brown@x.dummyjson.com,+81 210-652-2785,sophiab,sophiabpass,...,"{'address': '1642 Ninth Street', 'city': 'Wash...",12:a3:d3:6f:5c:5b,Pepperdine University,"{'cardExpire': '10/27', 'cardNumber': '6011212...","{'department': 'Research and Development', 'na...",963-113,638-461-822,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin
3,4,James,Davis,,46,male,james.davis@x.dummyjson.com,+49 614-958-9364,jamesd,jamesdpass,...,"{'address': '238 Jefferson Street', 'city': 'S...",10:7d:df:1f:97:58,University of Southern California,"{'cardExpire': '07/30', 'cardNumber': '5303440...","{'department': 'Support', 'name': 'Pagac and S...",904-810,116-951-314,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin
4,5,Emma,Miller,Johnson,31,female,emma.miller@x.dummyjson.com,+91 759-776-1614,emmaj,emmajpass,...,"{'address': '607 Fourth Street', 'city': 'Jack...",32:b9:7e:8d:f5:e8,Northeastern University,"{'cardExpire': '07/30', 'cardNumber': '5237188...","{'department': 'Human Resources', 'name': 'Gra...",403-505,526-210-885,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:9...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin

In [23]:
cart_url = "https://dummyjson.com/carts"
response = r.get(cart_url,timeout = 10)
data = response.json()
df_cart = pd.DataFrame(data['carts'])
df_cart.head()

,id,products,total,discountedTotal,userId,totalProducts,totalQuantity
0,1,"[{'id': 168, 'title': 'Charger SXT RWD', 'pric...",103774.85,89686.65,33,4,15
1,2,"[{'id': 144, 'title': 'Cricket Helmet', 'price...",4794.80,4288.95,142,5,20
2,3,"[{'id': 98, 'title': 'Rolex Submariner Watch',...",16775.87,14144.30,108,5,13
3,4,"[{'id': 187, 'title': 'Golden Shoes Woman', 'p...",456.83,443.23,87,4,17
4,5,"[{'id': 108, 'title': 'iPhone 12 Silicone Case...",7431.30,6676.44,134,6,20

In [24]:
df_cart.columns

Index(['id', 'products', 'total', 'discountedTotal', 'userId', 'totalProducts',
       'totalQuantity'],
      dtype='str')

In [ ]:
product_url = "https://dummyjson.com/products"
response = r.get(product_url, timeout=10)
data = response.json()
df_product = pd.DataFrame(data['products'])
df_product.head()

In [8]:
df_product.shape

(30, 22)

In [9]:
df_cart.shape

(30, 7)

In [10]:
df_user.shape

(30, 28)

In [11]:
#extraire les infos d'adresse pour des colonnes propre
df_adrees = pd.json_normalize(df_user['address'])
df_user = pd.concat([df_user.drop('address', axis=1), df_adrees], axis = 1)
df_user[['firstName', 'lastName','city','state']].head()

  firstName  lastName          city         state
0     Emily   Johnson       Phoenix   Mississippi
1   Michael  Williams       Houston       Alabama
2    Sophia     Brown    Washington       Alabama
3     James     Davis       Seattle  Pennsylvania
4      Emma    Miller  Jacksonville      Colorado

In [12]:
df_user.head()

,id,firstName,lastName,maidenName,age,gender,email,phone,username,password,...,crypto,role,address,city,state,stateCode,postalCode,country,coordinates.lat,coordinates.lng
0,1,Emily,Johnson,Smith,29,female,emily.johnson@x.dummyjson.com,+81 965-431-3024,emilys,emilyspass,...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin,626 Main Street,Phoenix,Mississippi,MS,29112,United States,-77.162130,-92.084824
1,2,Michael,Williams,,36,male,michael.williams@x.dummyjson.com,+49 258-627-6644,michaelw,michaelwpass,...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin,385 Fifth Street,Houston,Alabama,AL,38807,United States,22.815468,115.608581
2,3,Sophia,Brown,,43,female,sophia.brown@x.dummyjson.com,+81 210-652-2785,sophiab,sophiabpass,...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin,1642 Ninth Street,Washington,Alabama,AL,32822,United States,45.289366,46.832664
3,4,James,Davis,,46,male,james.davis@x.dummyjson.com,+49 614-958-9364,jamesd,jamesdpass,...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin,238 Jefferson Street,Seattle,Pennsylvania,PA,68354,United States,16.782513,-139.347230
4,5,Emma,Miller,Johnson,31,female,emma.miller@x.dummyjson.com,+91 759-776-1614,emmaj,emmajpass,...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin,607 Fourth Street,Jacksonville,Colorado,CO,26593,United States,0.505589,-157.432810

In [13]:
df_crypto = pd.json_normalize(df_user['crypto'])
df_user = pd.concat([df_user.drop(columns=['crypto']), df_crypto], axis = 1)
df_user[['firstName','lastName','coin','wallet']]

    firstName   lastName     coin                                      wallet
0       Emily    Johnson  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
1     Michael   Williams  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
2      Sophia      Brown  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
3       James      Davis  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
4        Emma     Miller  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
5      Olivia     Wilson  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
6   Alexander      Jones  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
7         Ava     Taylor  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
8       Ethan   Martinez  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
9    Isabella   Anderson  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
10       Liam     Garcia  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
11        Mia  Rodriguez  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
12       Noah  Hernandez  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
13  Charlotte      Lopez  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
14    William   Gonzalez  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
15      Avery      Perez  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
16     Evelyn    Sanchez  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
17      Logan     Torres  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
18    Abigail     Rivera  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
19    Jackson      Evans  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
20    Madison    Collins  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
21     Elijah    Stewart  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
22      Chloe    Morales  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
23      Mateo     Nguyen  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
24     Harper      Kelly  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
25     Evelyn   Gonzalez  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
26     Daniel       Cook  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
27       Lily        Lee  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
28      Henry       Hill  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a
29    Addison     Wright  Bitcoin  0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a

In [14]:
df_user.head()

,id,firstName,lastName,maidenName,age,gender,email,phone,username,password,...,city,state,stateCode,postalCode,country,coordinates.lat,coordinates.lng,coin,wallet,network
0,1,Emily,Johnson,Smith,29,female,emily.johnson@x.dummyjson.com,+81 965-431-3024,emilys,emilyspass,...,Phoenix,Mississippi,MS,29112,United States,-77.162130,-92.084824,Bitcoin,0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a,Ethereum (ERC20)
1,2,Michael,Williams,,36,male,michael.williams@x.dummyjson.com,+49 258-627-6644,michaelw,michaelwpass,...,Houston,Alabama,AL,38807,United States,22.815468,115.608581,Bitcoin,0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a,Ethereum (ERC20)
2,3,Sophia,Brown,,43,female,sophia.brown@x.dummyjson.com,+81 210-652-2785,sophiab,sophiabpass,...,Washington,Alabama,AL,32822,United States,45.289366,46.832664,Bitcoin,0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a,Ethereum (ERC20)
3,4,James,Davis,,46,male,james.davis@x.dummyjson.com,+49 614-958-9364,jamesd,jamesdpass,...,Seattle,Pennsylvania,PA,68354,United States,16.782513,-139.347230,Bitcoin,0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a,Ethereum (ERC20)
4,5,Emma,Miller,Johnson,31,female,emma.miller@x.dummyjson.com,+91 759-776-1614,emmaj,emmajpass,...,Jacksonville,Colorado,CO,26593,United States,0.505589,-157.432810,Bitcoin,0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a,Ethereum (ERC20)

In [15]:
#nettoyage pour extraire les donnees dans la colonne products
#ici on va utiliser les deux dataframes products et carts

#premierement on explose la colonne products
df_cart_exp = df_cart.explode(['products'])

#apres on normalize cad transformer la dict en colonne
df_product_info = pd.json_normalize(df_cart_exp['products'])

#on reinintialise les index
df_cart_exp = df_cart_exp.reset_index(drop=True)
df_product_info = df_product_info.reset_index(drop=True)

#on concatene le tout en supprimant l'ancienne colonne products
df_cart_final = pd.concat([df_cart_exp.drop(columns=['products']), df_product_info], axis = 1)
df_cart_final.head()

,id,total,discountedTotal,userId,totalProducts,totalQuantity,id,title,price,quantity,total,discountPercentage,discountedTotal,thumbnail
0,1,103774.85,89686.65,33,4,15,168,Charger SXT RWD,32999.99,3,98999.97,13.39,85743.87,https://cdn.dummyjson.com/products/images/vehi...
1,1,103774.85,89686.65,33,4,15,78,Apple MacBook Pro 14 Inch Space Grey,1999.99,2,3999.98,18.52,3259.18,https://cdn.dummyjson.com/products/images/lapt...
2,1,103774.85,89686.65,33,4,15,183,Green Oval Earring,24.99,5,124.95,6.28,117.10,https://cdn.dummyjson.com/products/images/wome...
3,1,103774.85,89686.65,33,4,15,100,Apple Airpods,129.99,5,649.95,12.84,566.50,https://cdn.dummyjson.com/products/images/mobi...
4,2,4794.80,4288.95,142,5,20,144,Cricket Helmet,44.99,4,179.96,11.47,159.32,https://cdn.dummyjson.com/products/images/spor...

In [16]:
df_cart.head()

,id,products,total,discountedTotal,userId,totalProducts,totalQuantity
0,1,"[{'id': 168, 'title': 'Charger SXT RWD', 'pric...",103774.85,89686.65,33,4,15
1,2,"[{'id': 144, 'title': 'Cricket Helmet', 'price...",4794.80,4288.95,142,5,20
2,3,"[{'id': 98, 'title': 'Rolex Submariner Watch',...",16775.87,14144.30,108,5,13
3,4,"[{'id': 187, 'title': 'Golden Shoes Woman', 'p...",456.83,443.23,87,4,17
4,5,"[{'id': 108, 'title': 'iPhone 12 Silicone Case...",7431.30,6676.44,134,6,20

In [17]:
display(df_cart_final[['userId','title','price','quantity',]].head())

   userId                                 title     price  quantity
0      33                       Charger SXT RWD  32999.99         3
1      33  Apple MacBook Pro 14 Inch Space Grey   1999.99         2
2      33                    Green Oval Earring     24.99         5
3      33                         Apple Airpods    129.99         5
4     142                        Cricket Helmet     44.99         4

In [18]:
#calcule du montant total pour chaque ligne
df_cart_final['amount'] = df_cart_final['price'] * df_cart_final['quantity']
df_cart_final['amount']

0       98999.97
1        3999.98
2         124.95
3         649.95
4         179.96
         ...
116        59.95
117       179.99
118    127999.96
119         9.16
120        59.96
Name: amount, Length: 121, dtype: float64

In [19]:
df_cart_final.head()

,id,total,discountedTotal,userId,totalProducts,totalQuantity,id,title,price,quantity,total,discountPercentage,discountedTotal,thumbnail,amount
0,1,103774.85,89686.65,33,4,15,168,Charger SXT RWD,32999.99,3,98999.97,13.39,85743.87,https://cdn.dummyjson.com/products/images/vehi...,98999.97
1,1,103774.85,89686.65,33,4,15,78,Apple MacBook Pro 14 Inch Space Grey,1999.99,2,3999.98,18.52,3259.18,https://cdn.dummyjson.com/products/images/lapt...,3999.98
2,1,103774.85,89686.65,33,4,15,183,Green Oval Earring,24.99,5,124.95,6.28,117.10,https://cdn.dummyjson.com/products/images/wome...,124.95
3,1,103774.85,89686.65,33,4,15,100,Apple Airpods,129.99,5,649.95,12.84,566.50,https://cdn.dummyjson.com/products/images/mobi...,649.95
4,2,4794.80,4288.95,142,5,20,144,Cricket Helmet,44.99,4,179.96,11.47,159.32,https://cdn.dummyjson.com/products/images/spor...,179.96

In [20]:
df_cart_final

,id,total,discountedTotal,userId,totalProducts,totalQuantity,id,title,price,quantity,total,discountPercentage,discountedTotal,thumbnail,amount
0,1,103774.85,89686.65,33,4,15,168,Charger SXT RWD,32999.99,3,98999.97,13.39,85743.87,https://cdn.dummyjson.com/products/images/vehi...,98999.97
1,1,103774.85,89686.65,33,4,15,78,Apple MacBook Pro 14 Inch Space Grey,1999.99,2,3999.98,18.52,3259.18,https://cdn.dummyjson.com/products/images/lapt...,3999.98
2,1,103774.85,89686.65,33,4,15,183,Green Oval Earring,24.99,5,124.95,6.28,117.10,https://cdn.dummyjson.com/products/images/wome...,124.95
3,1,103774.85,89686.65,33,4,15,100,Apple Airpods,129.99,5,649.95,12.84,566.50,https://cdn.dummyjson.com/products/images/mobi...,649.95
4,2,4794.80,4288.95,142,5,20,144,Cricket Helmet,44.99,4,179.96,11.47,159.32,https://cdn.dummyjson.com/products/images/spor...,179.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,29,3862.43,3488.44,170,5,17,153,Volleyball,11.99,5,59.95,16.05,50.33,https://cdn.dummyjson.com/products/images/spor...,59.95
117,30,128249.07,118740.76,177,4,13,181,Marni Red & Black Suit,179.99,1,179.99,14.21,154.41,https://cdn.dummyjson.com/products/images/wome...,179.99
118,30,128249.07,118740.76,177,4,13,171,Pacifica Touring,31999.99,4,127999.96,7.40,118527.96,https://cdn.dummyjson.com/products/images/vehi...,127999.96
119,30,128249.07,118740.76,177,4,13,35,Potatoes,2.29,4,9.16,1.69,9.01,https://cdn.dummyjson.com/products/images/groc...,9.16
120,30,128249.07,118740.76,177,4,13,46,Plant Pot,14.99,4,59.96,17.65,49.38,https://cdn.dummyjson.com/products/images/home...,59.96

In [18]:
print(list(df_cart_final.columns))

['id', 'total', 'discountedTotal', 'userId', 'totalProducts', 'totalQuantity', 'id', 'title', 'price', 'quantity', 'total', 'discountPercentage', 'discountedTotal', 'thumbnail', 'amount']

In [19]:
#df_cart_final = df_cart_final.drop(columns=['discountedTotal']) 
df_cart_final

,id,total,discountedTotal,userId,totalProducts,totalQuantity,id,title,price,quantity,total,discountPercentage,discountedTotal,thumbnail,amount
0,1,103774.85,89686.65,33,4,15,168,Charger SXT RWD,32999.99,3,98999.97,13.39,85743.87,https://cdn.dummyjson.com/products/images/vehi...,98999.97
1,1,103774.85,89686.65,33,4,15,78,Apple MacBook Pro 14 Inch Space Grey,1999.99,2,3999.98,18.52,3259.18,https://cdn.dummyjson.com/products/images/lapt...,3999.98
2,1,103774.85,89686.65,33,4,15,183,Green Oval Earring,24.99,5,124.95,6.28,117.10,https://cdn.dummyjson.com/products/images/wome...,124.95
3,1,103774.85,89686.65,33,4,15,100,Apple Airpods,129.99,5,649.95,12.84,566.50,https://cdn.dummyjson.com/products/images/mobi...,649.95
4,2,4794.80,4288.95,142,5,20,144,Cricket Helmet,44.99,4,179.96,11.47,159.32,https://cdn.dummyjson.com/products/images/spor...,179.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,29,3862.43,3488.44,170,5,17,153,Volleyball,11.99,5,59.95,16.05,50.33,https://cdn.dummyjson.com/products/images/spor...,59.95
117,30,128249.07,118740.76,177,4,13,181,Marni Red & Black Suit,179.99,1,179.99,14.21,154.41,https://cdn.dummyjson.com/products/images/wome...,179.99
118,30,128249.07,118740.76,177,4,13,171,Pacifica Touring,31999.99,4,127999.96,7.40,118527.96,https://cdn.dummyjson.com/products/images/vehi...,127999.96
119,30,128249.07,118740.76,177,4,13,35,Potatoes,2.29,4,9.16,1.69,9.01,https://cdn.dummyjson.com/products/images/groc...,9.16
120,30,128249.07,118740.76,177,4,13,46,Plant Pot,14.99,4,59.96,17.65,49.38,https://cdn.dummyjson.com/products/images/home...,59.96

In [57]:
df_cart_final

,id,userId,id,title,price,quantity,amount
0,1,33,168,Charger SXT RWD,32999.99,3,98999.97
1,1,33,78,Apple MacBook Pro 14 Inch Space Grey,1999.99,2,3999.98
2,1,33,183,Green Oval Earring,24.99,5,124.95
3,1,33,100,Apple Airpods,129.99,5,649.95
4,2,142,144,Cricket Helmet,44.99,4,179.96
...,...,...,...,...,...,...,...
116,29,170,153,Volleyball,11.99,5,59.95
117,30,177,181,Marni Red & Black Suit,179.99,1,179.99
118,30,177,171,Pacifica Touring,31999.99,4,127999.96
119,30,177,35,Potatoes,2.29,4,9.16
120,30,177,46,Plant Pot,14.99,4,59.96

In [59]:
df_product.head()

,id,title,description,category,price,discountPercentage,rating,stock,tags,brand,...,dimensions,warrantyInformation,shippingInformation,availabilityStatus,reviews,returnPolicy,minimumOrderQuantity,meta,images,thumbnail
0,1,Essence Mascara Lash Princess,The Essence Mascara Lash Princess is a popular...,beauty,9.99,10.48,2.56,99,"[beauty, mascara]",Essence,...,"{'width': 15.14, 'height': 13.08, 'depth': 22.99}",1 week warranty,Ships in 3-5 business days,In Stock,"[{'rating': 3, 'comment': 'Would not recommend...",No return policy,48,"{'createdAt': '2025-04-30T09:41:02.053Z', 'upd...",[https://cdn.dummyjson.com/product-images/beau...,https://cdn.dummyjson.com/product-images/beaut...
1,2,Eyeshadow Palette with Mirror,The Eyeshadow Palette with Mirror offers a ver...,beauty,19.99,18.19,2.86,34,"[beauty, eyeshadow]",Glamour Beauty,...,"{'width': 9.26, 'height': 22.47, 'depth': 27.67}",1 year warranty,Ships in 2 weeks,In Stock,"[{'rating': 5, 'comment': 'Great product!', 'd...",7 days return policy,20,"{'createdAt': '2025-04-30T09:41:02.053Z', 'upd...",[https://cdn.dummyjson.com/product-images/beau...,https://cdn.dummyjson.com/product-images/beaut...
2,3,Powder Canister,The Powder Canister is a finely milled setting...,beauty,14.99,9.84,4.64,89,"[beauty, face powder]",Velvet Touch,...,"{'width': 29.27, 'height': 27.93, 'depth': 20.59}",3 months warranty,Ships in 1-2 business days,In Stock,"[{'rating': 4, 'comment': 'Would buy again!', ...",No return policy,22,"{'createdAt': '2025-04-30T09:41:02.053Z', 'upd...",[https://cdn.dummyjson.com/product-images/beau...,https://cdn.dummyjson.com/product-images/beaut...
3,4,Red Lipstick,The Red Lipstick is a classic and bold choice ...,beauty,12.99,12.16,4.36,91,"[beauty, lipstick]",Chic Cosmetics,...,"{'width': 18.11, 'height': 28.38, 'depth': 22.17}",3 year warranty,Ships in 1 week,In Stock,"[{'rating': 4, 'comment': 'Great product!', 'd...",7 days return policy,40,"{'createdAt': '2025-04-30T09:41:02.053Z', 'upd...",[https://cdn.dummyjson.com/product-images/beau...,https://cdn.dummyjson.com/product-images/beaut...
4,5,Red Nail Polish,The Red Nail Polish offers a rich and glossy r...,beauty,8.99,11.44,4.32,79,"[beauty, nail polish]",Nail Couture,...,"{'width': 21.63, 'height': 16.48, 'depth': 29.84}",1 month warranty,Ships overnight,In Stock,"[{'rating': 2, 'comment': 'Poor quality!', 'da...",No return policy,22,"{'createdAt': '2025-04-30T09:41:02.053Z', 'upd...",[https://cdn.dummyjson.com/product-images/beau...,https://cdn.dummyjson.com/product-images/beaut...

In [1]:
#df_product = df_product.drop(columns=['description'])
df_product.head()

NameError: name 'df_product' is not defined

In [3]:
df_product.columns

NameError: name 'df_product' is not defined

In [25]:
import requests
import pandas as pd

# Recharge carts en gardant date
df_carts = pd.DataFrame(requests.get("https://dummyjson.com/carts").json()['carts'])

# VÃ©rifie immÃ©diatement
print("Colonnes dans df_carts :", df_carts.columns.tolist())
print(df_carts[['id', 'userId', 'date']].head())

Colonnes dans df_carts : ['id', 'products', 'total', 'discountedTotal', 'userId', 'totalProducts', 'totalQuantity']

KeyError: "['date'] not in index"

In [27]:
print("Date prÃ©sente ?", 'date' in df_cart.columns)
print("Exemple dates :", df_cart['date'].head())

Date prÃ©sente ? False

KeyError: 'date'